/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 févr. 2014, 23:08:52
    Author     : Ulrich EZA
*/

body {
    margin: 50px;
}

.panelGrid {
    margin: auto;
}

table {
    table-layout: fixed;
}

.center-div {
    text-align: center;width: 70%;margin:auto;
}

#header {
    border-bottom: 1px solid;
    height: 40px;
    clear: both;
    margin-bottom: 10px;
}

#header h1 {
    float: left;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1.25em;
    padding-right: 0.7em;
    vertical-align: baseline;
}

#header .buttons {
    float: right;
    margin-top: 10px;
}

#form-buttons button {    
    margin-top:10px;  
}

.ui-dialog .ui-dialog-content {
    background-color: white !important;
}

.horizontal-line {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-top:17px;    
}

.left-align {
    text-align: left;
}

div[id="growl_container"] {
    left: 40%;
    text-align: center;    
}

div[id="messages_container"] {
    left: 40%;
    text-align: center;    
}

.toolbar {
    padding: 0px !important;
}

.toolbar .ui-panel-content {
    padding: 0px !important;
}