/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 févr. 2014, 23:08:52
    Author     : Ulrich EZA
*/

body {
    background-color: gray;
    margin: 50px;
}

a {
    color: beige;
}

.panelGrid {
    margin: auto;
}

.ui-widget-content {
    border-style: none;
    border: 0px solid ;
    background: none;
}

.center-div {
    text-align: center;width: 50%;margin:auto;
}

.white-text {
    color: white;
}

#header {
    border-bottom: 1px solid;
    height: 40px;
    clear: both;
    color: white;
    margin-bottom: 10px;
}

#header h1 {
    float: left;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1.25em;
    padding-right: 1.25em;
    vertical-align: baseline;
}

#header .buttons {
    float: right;
    margin-top: 10px;
}

.ui-menu .ui-menu-list .ui-menuitem {

    border: 1px solid !important;
    background-color: white;
}

.ui-menu .ui-menuitem-link {
    width: 94% !important;
}

#form-buttons button {    
    margin-top:10px;  
}

.ui-dialog .ui-dialog-content {
    background-color: white !important;
}

.horizontal-line {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-top:17px;    
}

.left-align {
    text-align: left;
}